ExpenseTrackerBE-python/.idea
ExpenseTrackerBE-python/__pycache__

ExpenseTrackerBE-java/.gradle
ExpenseTrackerBE-java/.idea
ExpenseTrackerBE-java/build


ExpenseTrackerUI/.git
ExpenseTrackerUI/node_modules